# Do not track build objects.
build*/*
!build*/.gitignore

# Do not track the .ini files in exe/configuration
exe/configuration/*.ini

# Do not track pid files and the alice executable in exe/
exe/alice
exe/*.pid

# Do not track alice session data
exe/session/*
!exe/session/.gitignore

# Do not track emacs temporary and backup files
\#*#
*~

# Do not track Nano temporary files
.#*#

# Local files @krc
TODO
