# Do not track build objects.
build*/*
!build*/.gitignore
src/tests/*/b~*.ad[sb]

# Do not track the .ini and json files in exe/configuration
exe/configuration/*.ini
exe/configuration/*.json

# Do not track pid files and the alice executable in exe/
exe/alice
exe/*.pid

# Do not track alice session data
exe/session/*
!exe/session/.gitignore

# Do not track temporary and backup files from editors
\#*#
.#*
*~
.#*#
.*.swp

# Local files @krc
TODO

# Local files @sparre
test_and_push_to_master

# www content
exe/www/*
!exe/www/.gitignore
