# Accessing a key with no value returns an empty string if the target is
# String or Unbounded_String.
# If a valid key is commented (or missing entirely), it is ignored, and the
# default value is used.
# Default values are defined in the My_Configuration.Default_Values array.

##############################
#           Cache            #
##############################

Cache_Max_Element_Age 86_400.0
# Duration.
# Default: 86_400
#
# Cached elements that are older than Cache_Max_Element_Age seconds are
# automatically invalidated and removed from the cache.

Cache_Size_Contact 10_000
# Positive.
# Default: 10_000
#
# The maximum amount of contact objects the cache will hold. When the cache
# reach
#
#     Cache_Size_Contact + 1
#
# in size, the automatic cleanup functionality kicks in. The cache will first
# try to flush elements that are older than Cache_Max_Element_Age and if that
# doesn't bring down the size of the cache to <= Cache_Size_Contact, then
# random elements will be removed from the cache until there are no more than
# Cache_Size_Contact elements in the cache.
#
# NOTE:
# The automatic cleanup functionality can be quite expensive, so be sure to set
# Cache_Size_Contact to a size that either equals or are above the actual
# amount of potential objects. Setting it to for example 1_000 for a system
# with 1_000_000 contacts is bound to leave you with a cache object that will
# be wasting a lot of CPU on the automatic cleanup functionality. On the other
# hand setting it too high will waste a lot of memory.

Cache_Size_Organization 1_000
# Positive.
# Default: 1_000
#
# The maximum amount of organization objects the cache will hold. When the
# cache reach
#
#     Cache_Size_Organization + 1
#
# in size, the automatic cleanup functionality kicks in. The cache will first
# try to flush elements that are older than Cache_Max_Element_Age and if that
# doesn't bring down the size of the cache to <= Cache_Size_Organization, then
# random elements will be removed from the cache until there are no more than
# Cache_Size_Organization elements in the cache.
#
# NOTE:
# The automatic cleanup functionality can be quite expensive, so be sure to set
# Cache_Size_Organization to a size that either equals or are above the actual
# amount of potential objects. Setting it to for example 1_000 for a system
# with 1_000_000 organizations is bound to leave you with a cache object that
# will be wasting a lot of CPU on the automatic cleanup functionality. On the
# other hand setting it too high will waste a lot of memory.

##################################
#            Database            #
##################################

DB_Host pg1.adaheads.com
# String.
# Default: pg1.adaheads.com
#
# The database host.

DB_Name customers
# String.
# Default: customers
#
# The database name.

DB_Password secret
# String.
# Default: secret
#
# The database password.

DB2_Port 5432
# Positive.
# Default: 5432
#
# The database port.

DB_User alice
# String.
# Default: alice
#
# The database user.

DB2_Host pg2.adaheads.com
# String.
# Default: pg2.adaheads.com
#
# The readonly backup database host.

DB2_Name customers
# String.
# Default: customers
#
# The readonly backup database name.

DB2_Password secret
# String.
# Default: secret
#
# The readonly backup database password.

DB2_Port 5432
# Positive.
# Default: 5432
#
# The database port.

DB2_User alice
# String.
# Default: alice
#
# The readonly backup database user.

################################################
#        Resource handlers and interfaces      #
################################################

# These Key/Value pairs define which dispatcher is used for a given resource or
# interface. All resource handlers and interfaces are specified in the
# My_Handlers package.

Handler_Call_Answer /call/answer
# String.
# Default: /call/answer
#
# The URI for the /call/answer interface. This interface enables an agent to
# answer either the oldest unanswered call in the call queue or a call
# designated by a provided unique id.

Handler_Call_Hangup /call/hangup
# String.
# Default: /call/hangup
#
# The URI for the /call/hangup interface. This interface enables an agent to
# hangup the currently active call.

Handler_Call_Park /get/park
# String.
# Default: /get/park
#
# The URI for the /call/park interface. This interface enables an agent to park
# the currently active call. Calls parked by agent X can only be answered by
# agent X. If agent X logs off while having parked calls, all those calls are
# reverted to being available to all agents.

Handler_Contact /contact
# String.
# Default: /contact
#
# The URI for the /contact resource. This resource returns a JSON object
# containing one complete contact entity.

Handler_Notifications /notifications
# String.
# Default: /notifications
#
# The URI for the /notifications websocket resource.

Handler_Organization /organization
# String.
# Default: /organization
#
# The URI for the /organization resource. This resource returns a JSON object
# containing on complete organization.

Handler_Queue /queue
# String.
# Default: /queue
#
# The URI for the /queue resource. Returns a JSON object containing the entire
# current call queue.

Handler_Queue_Length /queue_length
# String.
# Default: /queue_length
#
# The URI for the /queue_length resource. Returns a JSON object containing the
# length of the current call queue, including calls already answered and
