# Accessing a key with no value returns an empty string if the target is
# String or Unbounded_String.
# If a valid key is commented (or missing entirely), it is ignored, and the
# default value is used.
# Default values are defined in the My_Configuration.Default_Values array.

#########
# Cache #
#########

Cache_Max_Element_Age 86_400.0
# Duration.
# Default: 86_400
#
# Cached elements that are older than Cache_Max_Element_Age seconds are
# automatically invalidated and removed from the cache.

#######################
# PostgreSQL Database #
#######################

DB_Host pgprimary.adaheads.com
# String.
# Default: pgprimary.adaheads.com
#
# The database host.

DB_Name customers
# String.
# Default: customers
#
# The database name.

DB_Password secret
# String.
# Default: secret
#
# The database password.

DB_Port 5432
# Positive.
# Default: 5432
#
# The database port.

DB_User alice
# String.
# Default: alice
#
# The database user.

###################
# SQLite Database #
###################

SQLite_Database sqlite/customers.db
# String.
# Default: sqlite/customers.db
#
# If Alice has been compiled with SQLite support, then she will use this file
# as the database.

###########################
# PBX event socket access #
###########################

PBX_Secret password
# String.
# Default: password
#
# The PBX password

PBX_Host FreeSWITCH_Host
# String
# Default: FreeSWITCH_Host
#
# Host where the PBX event socket is located.

PBX_Port 8031
# Positive.
# Default: 8021
#
# Port for the PBX event socket.
