# Accessing a key with no value returns an empty string if the target is
# String or Unbounded_String.
# If a valid key is commented (or missing entirely), it is ignored, and the
# default value is used.
# Default values are defined in the My_Configuration.Default_Values array.

##############################
#           Cache            #
##############################

Cache_Max_Element_Age 86_400.0
# Duration.
# Default: 86_400
#
# Cached elements that are older than Cache_Max_Element_Age seconds are
# automatically invalidated and removed from the cache.

##################################
#            Database            #
##################################

DB_Host pgprimary.adaheads.com
# String.
# Default: pgprimary.adaheads.com
#
# The database host.

DB_Name customers
# String.
# Default: customers
#
# The database name.

DB_Password secret
# String.
# Default: secret
#
# The database password.

DB2_Port 5432
# Positive.
# Default: 5432
#
# The database port.

DB_User alice
# String.
# Default: alice
#
# The database user.

DB2_Host pgsecondary.adaheads.com
# String.
# Default: pgsecondary.adaheads.com
#
# The readonly backup database host.

DB2_Name customers
# String.
# Default: customers
#
# The readonly backup database name.

DB2_Password secret
# String.
# Default: secret
#
# The readonly backup database password.

DB2_Port 5432
# Positive.
# Default: 5432
#
# The database port.

DB2_User alice
# String.
# Default: alice
#
# The readonly backup database user.

#########################################
#        PBX event socket access        #
#########################################

PBX_Action_Secret Action_Secret
# String.
# Default: Action_Secret
#
# The PBX Action password

PBX_Action_User Action_User
# String.
# Default: Action_User
#
# The PBX Action user

PBX_Event_Secret Event_Secret
# String.
# Default: Event_Secret
#
# The PBX Event password
# TODO: Come up with a more sane default

PBX_Event_User Event_User
# String.
# Default: Event_User
#
# The PBX Event user

PBX_Host Asterisk_Host
# String
# Default: Asterisk_Host
#
# Host where the PBX event socket is located.

PBX_Port 5038
# Positive.
# Default: 5038
#
# Port for the PBX event socket.

################################################
#        Resource handlers and interfaces      #
################################################

# These Key/Value pairs define which dispatcher is used for a given resource or
# interface. All resource handlers and interfaces are specified in the
# My_Handlers package.

Handler_Call_Hangup /call/hangup
# String.
# Default: /call/hangup
#
# The URI for the /call/hangup interface. This interface enables an agent to
# hangup the currently active call.

Handler_Call_Hold /call/hold
# String.
# Default: /call/hold
#
# The URI for the /call/hold interface. This interface enables an agent to put
# the currently active call on hold. Calls put on hold by agent X can only be
# answered by agent X. If agent X logs off while having parked calls, all those
# calls are reverted to being available to all agents.

Handler_Call_Pickup /call/pickup
# String.
# Default: /call/pickup
#
# The URI for the /call/pickup interface. This interface enables an agent to
# pickup either the oldest unanswered call in the call queue or a call
# designated by a provided call_id.

Handler_Contact /contact
# String.
# Default: /contact
#
# The URI for the /contact resource. This resource returns a JSON object
# containing one complete contact entity.

Handler_Notifications /notifications
# String.
# Default: /notifications
#
# The URI for the /notifications websocket resource.

Handler_Organization /organization
# String.
# Default: /organization
#
# The URI for the /organization resource. This resource returns a JSON object
# containing on complete organization.

Handler_Organization_List /organization/list
# String.
# Default: /organization/list
#
# The URI for the /organization/list resource. This resource returns a JSON
# object containing on complete list of all organizations in the databases.

Handler_Queue /queue
# String.
# Default: /queue
#
# The URI for the /queue resource. Returns a JSON object containing the entire
# current call queue.

Handler_Queue_Length /queue_length
# String.
# Default: /queue_length
#
# The URI for the /queue_length resource. Returns a JSON object containing the
# length of the current call queue, including calls already answered and
