{
    "Standard_Greeting": "Velkommen til...",
    "Enable_Polling": false,
    "SIP_PBX": "asterisk2.adaheads.com",
    "Agent_ID": 1,
    "Websocket": {
        "Reconnect": false,
        "Reconnect_Interval": 1000,
        "URI": "wss://alice.adaheads.com:4242/notifications"
    },
    "PJSUA_HTTPD_URI": "http://localhost:30200",
    "System_Console": {
        "Max_Items": 15
    },
    "Event_Log": {
        "Max_Items": 20
    },
    "Debug_Enabled": true,
    "SIP_Password": "12345",
    "SIP_Username": 1,
    "Alice_URI": "https://alice.adaheads.com:4242/",
    "SIP_Account": {
        "Domain": "asterisk2.adaheads.com",
        "Password": "12345",
        "Username": "softphone1"
    },
    "Organizations_List_View": "midi",
    "Polling_Interval": 2000,
    "logLevel": "info",
    "dart": {
        "standardGreeting": "Velkommen til...",
        "aliceBaseUrl": "https://alice.adaheads.com:4242",
        "notificationSocket": {
            "interface": "wss://alice.adaheads.com:4242/notifications",
            "reconnectInterval": 1000
        },
        "agentID": 1,
        "serverLog": {
            "level": "info",
            "interface": {
                "critical": "/log/critical",
                "error": "/log/error",
                "info": "/log/info"
            }
        }
    }
}
